
/* todo:
 * bei icomoon zusammen mit den u. a. symbolen auch den font "dosis-regular" mit einbinden
 * AUFPASSEN, DASS EIN LEERZEICHEN MIT DABEI IST u+0020
 */
@font-face {
  font-family: 'stuehler';
  src:  url('/f/stuehler.eot');
  src:  url('/f/stuehler.eot#iefix') format('embedded-opentype'),
    url('/f/stuehler.ttf') format('truetype'),
    url('/f/stuehler.woff') format('woff'),
    url('/f/stuehler.svg#stuehler') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="stuehler-"], [class*=" stuehler-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'stuehler' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.stuehler-bulb:before {
  content: "\e901";
}
.stuehler-compass:before {
  content: "\e902";
}
.stuehler-directions:before {
  content: "\e903";
}
.stuehler-stuehler-stuehler .path1:before {
  content: "\e905";
  color: rgb(39, 205, 165);
}
.stuehler-stuehler-stuehler .path2:before {
  content: "\e906";
  margin-left: -3.33984375em;
  color: rgb(255, 255, 255);
}
.stuehler-stuehler-stuehler .path3:before {
  content: "\e907";
  margin-left: -3.33984375em;
  color: rgb(255, 255, 255);
}
.stuehler-stuehler-stuehler .path4:before {
  content: "\e908";
  margin-left: -3.33984375em;
  color: rgb(255, 255, 255);
}
.stuehler-stuehler-stuehler .path5:before {
  content: "\e909";
  margin-left: -3.33984375em;
  color: rgb(255, 255, 255);
}
.stuehler-stuehler-stuehler .path6:before {
  content: "\e90a";
  margin-left: -3.33984375em;
  color: rgb(255, 255, 255);
}
.stuehler-stuehler-stuehler .path7:before {
  content: "\e90b";
  margin-left: -3.33984375em;
  color: rgb(255, 255, 255);
}
.stuehler-ue-fill:before {
  content: "\e904";
}
.stuehler-ue-stroke:before {
  content: "\e900";
}





